body {
  background-color: #FB929E;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;}
h3 {
  color: #FFF6F6;}
hr {
  border-style: none;
  height: 15px;
  border-top-style: dotted;
  border-top-width: thick;
  color: #FFF6F6;
  width: 98%;

}
td {
  background-color: #FFF6F6;}
input {
  background-color: #FFDFDF;}
ol {
  background-color: #FB929E}
table {
  background-color: #FFDFDF;}
textarea {
  background-color: #FFDFDF;}
.Intro {
  background-color: #FFF6F6;
  text-align: center;
  table-layout: auto;
  width: 100%;}
.Skills {
  background-color: #FFDFDF;}
.SleepyKitty {
  border-radius: 45%;
 max-width: 100%;
    min-width: 300px;
    height: auto;}
.SleepFoto {background-color: #FB929E;}
.Submit {background-color: white;}
.Work {
  background-color: #FFDFDF;}
